<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261289819691-3pt6l7rcqncsh7upv3f6e62fj9ilcdg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261289819691-3pt6l7rcqncsh7upv3f6e62fj9ilcdg8</string>
	<key>API_KEY</key>
	<string>AIzaSyCndGV47pHhzZ1R-zHGmsRX0oGeylrkdM4</string>
	<key>GCM_SENDER_ID</key>
	<string>261289819691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sagoUser</string>
	<key>PROJECT_ID</key>
	<string>sago-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sago-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261289819691:ios:178ea866efec9519fdf46e</string>
</dict>
</plist>